---
- name: Install named
  tags: [install]
  when: ansible_facts.os_family != 'Debian'
  ansible.builtin.package:
    name: bind
    state: present

- name: Install named (Debian/Ubuntu)
  tags: [install]
  when: ansible_facts.os_family == 'Debian'
  ansible.builtin.package:
    name: bind9
    state: present

- name: Install cron
  tags: [install, cron]
  when: bind_response_policy_zones | selectattr('cron', 'defined') | list | length > 0
  block:
    - name: Install cron
      when: ansible_facts.os_family in ('Debian', 'SUSE')
      ansible.builtin.package:
        name: cron
        state: present

    - name: Install cronie on RedHat
      when: ansible_facts.os_family == 'RedHat'
      ansible.builtin.package:
        name: cronie
        state: present

- name: Configure SELinux
  tags: [install, selinux]
  when: ansible_facts['selinux']['status'] == 'enabled'
  block:
    - name: install semanage
      ansible.builtin.package:
        name: policycoreutils-python-utils
        state: present
      when: ansible_facts.os_family not in ['Debian', 'SUSE']
    
    - name: install semanage (Debian)
      ansible.builtin.package:
        name: policycoreutils-python
        state: present
      when: ansible_facts.os_family == 'Debian'

    - name: install semanage (SUSE)
      ansible.builtin.package:
        name: python3-policycoreutils
        state: present
      when: ansible_facts.os_family == 'SUSE'

    - name: Allow named to serve DoH
      community.general.seport:
        setype: dns_port_t
        ports: [80, 443]
        proto: tcp
        state: present
