---
- name: Install named
  tags: [install]
  when: ansible_facts.os_family != 'Debian'
  ansible.builtin.package:
    name: bind
    state: present

- name: Install named (Debian/Ubuntu)
  tags: [install]
  when: ansible_facts.os_family == 'Debian'
  ansible.builtin.package:
    name: bind9
    state: present

- name: Install cron
  tags: [install, cron]
  when: bind_response_policy_zones | selectattr('cron', 'defined') | list | length > 0
  block:
    - name: Install cron
      when: ansible_facts.os_family in ('Debian', 'SUSE')
      ansible.builtin.package:
        name: cron
        state: present

    - name: Install cronie on RedHat
      when: ansible_facts.os_family == 'RedHat'
      ansible.builtin.package:
        name: cronie
        state: present

- name: Allow DNS-over-HTTP in SELinux
  tags: [install, selinux]
  when: ansible_facts['selinux']['status'] == 'enabled'
  community.general.seport:
    setype: dns_port_t
    ports: [80, 443]
    proto: tcp
    state: present
