---
- name: Check if dhparam file exists
  tags: [tls, dhparam]
  ansible.builtin.stat:
    path: "{{ bind_tls_dhparam_file }}"
  register: bind_tls_dhparam_file_stat
  when: bind_tls_dhparam_file is defined

- name: Generate DH param file
  tags: [tls, dhparam]
  community.crypto.openssl_dhparam:
    path: "{{ bind_tls_dhparam_file }}"
    size: "{{ bind_tls_dhparam_size }}"

- name: Check for an existing private key files
  tags: [tls, privatekey]
  ansible.builtin.stat:
    path: "{{ item.key_file | default(bind_tls_key_file) }}"
  register: bind_tls_key_file_stat
  loop: "{{ bind_tls }}"

- name: Generate private key(s)
  tags: [tls, privatekey]
  when: not bind_tls_key_file_stat.results[index].stat.exists
  community.crypto.openssl_privatekey:
    group: "{{ bind_usergroup }}"
    mode: "0640"
    path: "{{ item.key_file | default(bind_tls_key_file) }}"
    type: "{{ item.key_type | default(bind_tls_key_type) }}"
    size: "{{ item.key_size | default(bind_tls_key_size) }}"
  register: bind_tls_privatekeys
  loop: "{{ bind_tls }}"
  loop_control:
    index_var: index

- name: Generate CSR
  tags: [tls, csr]
  community.crypto.openssl_csr:
    path: "{{ item.csr_file }}"
    privatekey_path: "{{ item.key_file | default(bind_tls_key_file) }}"
    common_name: "{{ item.common_name }}"
    subject_alt_name: "{{ item.subject_alt_name | default([]) }}"
  register: bind_tls_csrs
  loop: "{{ bind_tls }}"
  loop_control:
    index_var: index
  when: item.common_name is defined
